* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    color: #c4a7e7;
    padding: 0 5px;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

#workspaces button.focused {
    color: #eb6f92;
}

#workspaces, #network, #memory, #battery, #tray, #pulseaudio, #clock {
    background: #191724;
    margin: 5px 0px 0px 0px;
    padding: 0px 10px;
    border: 2px solid #26233a;
}

#workspaces {
    border-radius: 8px;
    padding-right: 10px;
    margin-left: 10px;
}

#clock {
    color: #f6c177;
    border-radius: 8px;
    margin-right: 10px;
}

#network {
    color: #eb6f92;
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
}

#memory {
    color: #9ccfd8;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #e0def4;
    border-radius: 0px 8px 8px 0px;
    margin-right: 10px;
    border-left: 0px;
}

#pulseaudio {
    color: #c4a7e7;
    border-radius: 8px;
    margin-right: 10px;
    border-left: 0px;
}

#tray {
    border-radius: 8px;
    margin-left: 10px;
}
